---
- name: Restart NSLCD
  ansible.builtin.systemd:
    name: nslcd
    state: restarted
    enabled: true

- name: Restart NSCD
  ansible.builtin.systemd:
    name: nscd
    state: restarted
    enabled: true

- name: Restart AutoFS
  ansible.builtin.systemd:
    name: autofs
    state: restarted
    enabled: true

- name: Restart Mounts
  ansible.builtin.set_fact:
    cephfs_mounts_restart: true

- name: Update Packages
  ansible.builtin.set_fact:
    cephfs_update_packages: true
