#jinja2: trim_blocks: True, lstrip_blocks: True
{% for component in cephactual_config_file %}
[{{ component }}]
    {% for config in cephactual_config_file[component] | list %}
        {{ config }} = {{ cephactual_config_file[component][config] }} 
    {% endfor %}
{% endfor %}
