[Unit]
Description=Media Storage at {{ cephfs_mount.mount }}
After=network-online.target firewalld.service
Wants=network-online.target

[Mount]
What={{ cephfs_mount.user }}@.{{ cephfs_mount.fsname }}=/
Where={{ cephfs_mount.mount }}
Type=ceph
Options=secretfile={{ cephfs_mount.secretfile | default(cephfs_mount.secret) }}{% if cephfs_mount.mount_opts is defined %},{{ cephfs_mount.mount_opts | list | join(',') }}{% endif %}

[Install]
WantedBy=multi-user.target
